<div class="comments-wrapper">
    <%if current_user.name == comment.name%>    
        <strong>
            <%=comment.name %>:
        </strong> <i><%= comment.body %></i>
        <div class="">
            <%= link_to "Delete", [comment.post, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>

                                
        </div>
    <% else%>
    <strong>
            <%=comment.name %>:
        </strong> <i><%= comment.body %></i>
    <%end%>
</div>