<div class="container">

   
    <div class = "user-profile">

        <div class="user-profile-pic">
            <div class="avatar">
                <img src="#" alt="profile">
            </div>
            <%= link_to "Edit Profile Image"%>
        </div>

        <div class="user-profile-info">
            <div class="user-profile-infos">
                <strong>Name:</strong> <%= current_user.name%>
            </div>
            <div class="user-profile-infos">
                <strong>Email:</strong> <%= current_user.email%>
                 
            </div>
             <div class="user-profile-infos">
                <strong>Post Likes:</strong> 
                   <%#= current_user.likes.count%>
            </div>
        </div>
        <div class="profile-btn">
            <%= link_to "Edit Profile", edit_user_registration_path%>
        </div>
    </div>

    <div class="user-posts">
      <%  @posts.each do |post|%>
        <% if post.user.id == current_user.id%>
            <div class="post-wrapper">
                <div class= "post-header">
                    <h1><%= post.title%></h1>
                    <h5><%= post.created_at%></h5>
                    <p><%= post.user.email%></p>
                </div>
                <div class="post-body">
                    <%= post.body%>
                </div>
                <div class="profile-btn">
                    <%= link_to "Edit Profile", edit_post_path(post.id)%>
                    <%= link_to "Delete Post", post_path(post.id), data:{
                                               turbo_method: :delete,
                                               turbo_confirm: "Are you sure?"
                    }%>
                </div>
            </div>
        <%end%>
      <%end%>
    </div>
</div>
