<% if user_signed_in?%>

    <div class="container">
        <%  @posts.each do |post|%>
            <div class="post-wrapper">
                <div class= "post-header">
                    <h1><%= post.title%></h1>
                    <h5><%= post.created_at%></h5>
                    <p><%= post.user.email%></p>
                </div>
                <div class="post-body">
                    <p>
                        <%= post.body%>
                    </p>
                </div>
                <% if post.user.id == current_user.id%>
                    <div class="post-btn">
                        <div class="post-btn-top-right">
                            <%= link_to "Edit"%>
                            <%= link_to "Delete Post"%>
                        </div>
                    </div>
                <%end%>
                  
                  <div class="post-btn">
                    <h5>React</h5>
                        <div class="react">
                          <%# if @likes.present?%>
                            <div class="reacts">
                              <%= link_to "ðŸ‘"%>
                            </div>
                          <%# else%>
                            <div class="reacts">
                              <%#= link_to "ðŸ‘Ž",
                                data: { turbo_method: "delete",
                                        turbo_confirm: "Are you sure you don't want to attend?." }%>
                            </div>
                         <%#end%>
                        </div>
                        <div class="likes">
                            <%#= post.likes.count%>
                        </div>
                  </div>

                <div class="comment-wrapper">
                    <strong>Comments: </strong>
                      <%= render post.comments %>
                        <div class="comment-form">
                          <p>Add Comment here:</p>
                            <%= form_with model:[ post, post.comments.build ] do |f| %>
                                <p>
                                    <%= f.text_area :body %>
                                    <%= f.hidden_field :name, value: current_user.name%>
                                </p>
                                <p>
                                    <%= f.submit class: "comment-submit" %>
                                </p>
                            <% end%>
                        </div>
                </div>
            </div>
        <% end%>
    </div>

<% else%>

  <h1>Welcome to the homepage!</h1><br>


<% end%>
