<% if user_signed_in?%>

    <div class="container">
        <%  @posts.each do |post|%>
            <div class="post-wrapper">
                <div class= "post-header">
                    <h1><%= post.title%></h1>
                    <h5><%= post.created_at%></h5>
                    <p><%= post.user.email%></p>
                </div>
                <div class="post-body">
                    <p>
                        <%= post.body%>
                    </p>
                </div>
                <% if post.user.id == current_user.id%>
                    <div class="post-btn">
                        <div class="post-btn-top-right">
                            <%= link_to "Edit"%>
                            <%= link_to "Delete Post"%>
                        </div>
                        <div>
                        <p>Maya kana</p>
                            <%= link_to "ðŸ‘"%>
                            <%= link_to "ðŸ‘Ž"%>
                        </div>
                    </div>
                <%end%>
                <div class="comment-wrapper">
                    <strong>Comments: </strong>
                    <%= render post.comments %>
                    <p>Add Comment here:</p>
                        <%= form_with model:[ post, post.comments.build ] do |f| %>
                            <p>
                                <%= f.label :body %><br>
                                <%= f.text_area :body %>
                            </p>
                            <p>
                                <%= f.submit %>
                            </p>
                        <% end%>
                </div>
            </div>
        <% end%>
    </div>

<% else%>

  <h1>Welcome to the homepage!</h1><br>


<% end%>
