<div class="form-container">
    <%= form_with(model: @post, local: true) do |f| %>
            <%= f.label :title%><br>
            <%= f.text_field :title, autofocus: true, autocomplete: "title"%><br>

            <%= f.label :body%><br>
            <%= f.text_area :body, autofocus: true, autocomplete: "body"%><br>

            <%= f.submit "Submit", class: "btn btn-primary btn-block"%>
    <% end %>
</div>